[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-sqlalchemy = "*"

[dev-packages]
"pylint.flask" = "*"
black = "*"
pylint-sqlalchemy = "*"
pylint-flask-sqlalchemy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
